﻿body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

@font-face {
    font-family: 'ArcadeClassic';
    src: url('assets/fonts/arcadefont_creditcoinscorefont_mainmenu/ArcadeClassic.ttf') format('truetype');
}

@font-face {
    font-family: 'BigJohn';
    src: url('assets/fonts/bigjohn_highscorefont/BigJohn.ttf') format('truetype');
}

@font-face {
    font-family: 'SlimJoe';
    src: url('assets/fonts/slimjoe_pause_menu_goal_font/SlimJoe.ttf') format('truetype');
}
